.main-nav {
    margin-top: 10px;
    list-style: none;
    padding-left: 0px;
    background-color: #13a4a4;
}
.main-nav_item {
    display: inline-block;
}
.main-nav_item a {
    background-color: cadetblue;
    border-radius: 2px;
    padding: 5px;
    color: white;
    text-decoration: none;
} 
.main-nav_item a:hover {
    color: blue;
}
.main-nav_item a:active {
    color: red;
}
.main-nav_item a::after {
    content: " | ";
}